.hero-header {
  position: relative;
  width: 100%;
  height: calc(100vh - 120px);
  min-height: 600px;
  margin-top: 120px;
  overflow: hidden;
}
.hero-header::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 180px;

  background: var(--section-transition);

  z-index: 3;
  pointer-events: none;
}

@media (max-width: 768px) {
  .hero-header {
    height: calc(100dvh - 100px);
    margin-top: -90px;
  }
}

.hero-header .swiper {
  width: 100%;
  height: 100%;
}

.hero-header .swiper-slide {
  width: 100%;
  height: 100%;
}

.hero-slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.hero-content {
  color: #fff;
  max-width: 900px;
  padding: 0 20px;
}

.hero-title {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.2;
}

.hero-description {
  font-size: 1.5rem;
  color: rgba(255,255,255,0.85);
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 3.3rem;
  }

  .hero-description {
    font-size: 1.1rem !important;
    max-width: 300px;
  }

  .hero-content {
    padding: 0 15px;
  }
}
.hero-progress {
  position: absolute;
  top: 40%;
  right: 5%;
  width: 6px;
  height: 20%;
  background: rgba(255,255,255,0.2);

  .hero-progress-fill {
    width: 100%;
    height: 100%;
    background: var(--first-color);
    transform-origin: bottom center;
    transform: scaleY(0);
  }
}